# SUPABASE CONFIGURATION
# Replace these with your Supabase Project URL and Anon Key from Supabase Dashboard > Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://rdvtbflzyutlhxmptnto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkdnRiZmx6eXV0bGh4bXB0bnRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNTg3MTgsImV4cCI6MjEwMzkzNDcxOH0.2MtqnPU13UUTnPg6bfb5IGfkJHrR_IU4cc5a9FFbOGU


# APPLICATION BASE URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
